<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>

    <nav>
      {{!-- logo --}}
      <img src="https://res.cloudinary.com/dzf57hnmi/image/upload/v1590148367/book-by-book/assests/book_by_book_sem_tag_hor_v2_hv8hvv.png" alt='logo' class='logo'/>
      {{!-- search bar --}}
      {{#if user}}
      <div id='navbar-search'>
      {{>searchBar}}
      </div>
      {{!-- links --}}
      <a href="/list">Home</a>|
      <a href='/book/search'>Add Book</a>|
      <a href="/profile/{{user._id}}/books">My books</a>|
      <a href="/profile/{{user._id}}">{{user.name}}'s Profile</a>|
      <form action="/authentication/sign-out" method="POST">
        <a href="/"><button class='button-log-out'>Log out</button></a>
      </form>
      {{/if}}
    </nav>

    {{{body}}}
    
    <script src="/scripts/script.js"></script>
  </body>
</html>
