<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>

    <nav>
      {{!-- icone --}}
      <a href="/">Icon</a>
      
      {{!-- search bar --}}
      <div id='navbar-search'
      {{>searchBar}}
        <ul>
          {{#each books}}
            <div>
              <img src="{{picture}}" alt="{{title}}">
            </div>
            <div>
              <a href="list/{{_id}}">
                <h3>{{bookTitle}}</h3>
                <h4>{{bookAuthor}}</h4>
                <p>{{booksComment}}</p>
              </a><h6>
              <a href="/profile/{{userCreator}}"> {{userCreator.name}} Profile</a></h6><h6>
              <a href="/profile/{{userCreator}}/books">Other books from this user</a></h6>
            </div>
          {{/each}}
        </ul>
      </div>

{{!-- links --}}
      {{#if user}}
      <a href='/book/search'>Add Book</a>
      <a href="/list">Find a Book</a>
      <a href="/profile/{{user._id}}">{{user.name}}'s Profile</a>
      <a href="/profile/{{user._id}}/books">My book</a>
      <form action="/authentication/sign-out" method="POST">
          <button>Log out</button>
        </form>
        {{else}}
      {{/if}}
    </nav>
    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
