<div class='style-body-pages-editbook'>
  <h1>Edit your book</h1>
  <div class='container-edit-box'>
    <form action='/book/{{result._id}}/edit' method='POST' class='form-to-edit'>
        <br>
        <label for="title-form">Book Name:</label>
        <input id='title-form' name='bookTitle' type='text' value="{{result.bookTitle}}"> 
        <br>
        <label for="author-input">Book Author:</label>
        <input id='author-input' name='author' type='text' value="{{result.author}}"> 
        <br>
        <label for="description-input">Description:</label>
        <input id='description-input' name='description' type='text' value="{{result.description}}"> 
        <br>
        <label for="comment-input">Comment:</label>
        <input id='comment-input' name='bookComment' type='text-area'  value="{{result.bookComment}}" placeholder='Insert your comment about the book...'> 
        <br>
        <label for='thumb-input'></label>
        <input type='hidden' name='thumb' id='thumb-input' value="{{result.smallThumbnail}}">
        <label for='lat-input'></label>
        <input type='hidden' name='latitude' id='latitude-input'>
        <label for='lng-input'></label>
        <input type='hidden' name='longitude' id='longitude-input'>
        <div id="map-view" style="width: 60em; height: 30em"></div>
        <br>
        <button type='submit' class ='container-edit-submit'>Submit</button>
    </form>
  </div>
  <form action="/book/{{result._id}}/delete" method="POST">
  <button type='submit' class ='container-edit-delete'>Delete</button>
  </form>
</div>

<script src='/scripts/mapsCreate.js'></script>
<script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap'></script>
