<div class='style-body-pages'>
 
  {{#if owner}} 
  <h1>My Profile</h1>
  {{else}}
  <h1>{{userProfile.name}}s Profile</h1>
  {{/if}}  


  <div class='container-profile'>

    <div class='container-profile-text'>
      <h2>{{userProfile.name}}</h2><br>
      <h5>Contact</h5>
      <h6>{{userProfile.email}}</h6><br>
      <h5>About</h5>
      <p>{{userProfile.about}}</p><br>
    </div>

    <div class='container-profile'>
      <img id="profile-picture" src="{{user.avatar}}" alt="">
    </div>
  </div> 

    {{#if owner}} 
    <div class='container-profile-buttons'>
      <a href="/profile/{{userProfile._id}}/edit/avatar"><button>Edit image</button></a> 
    
      <a href="/profile/{{userProfile._id}}/edit"><button>Edit profile</button></a> 
    </div>
      {{/if}}  
</div>



