<div class='style-body-pages'>
  <h1>My Profile</h1>

  <div class='container-profile'>

    <div class='container-profile-text'>
      <h2>{{user.name}}</h2><br>
      <h5>My contact</h5>
      <h6>{{user.email}}</h6><br>
      <h5>About me</h5>
      <p>{{user.about}}</p><br>
    </div>

    <div class='container-profile'>
      <img id="profile-picture" src="{{user.avatar}}" alt="">
    </div>
  </div> 

    {{#if owner}} 
    <div class='container-profile-buttons'>
      <a href="/profile/{{user._id}}/edit/avatar"><button>Edit image</button></a> 
    
      <a href="/profile/{{user._id}}/edit"><button>Edit profile</button></a> 
    </div>
      {{/if}}  
</div>
