<div class='style-body-pages'>
  <h3>Books available</h3>
  {{#each books}}
    <a href="/book/{{_id}}"><h4>{{this.bookTitle}}</h4></a>
    <a href="/book/{{_id}}"><h4>{{this.bookAuthor}}</h4></a>
  {{#if owner}}
    <a href="/book/{{_id}}/edit">Edit this book</a>
  {{/if}}
  {{/each}}
 </div>