<div class='style-body-pages'>
  <ul>
    {{#each books}}
    <div class='box-homepage-books'>
      <div>
        <img src="{{thumb}}" alt="{{title}}">
      </div>
      <div class='box-homepage-user'>
        <a href="book/{{_id}}">
          <h2>{{bookTitle}}</h2>
          <h4>{{author}}</h4>          
        </a>
        <p>{{bookComment}}</p>
        <div>
       <span>
        <a href="/profile/{{userCreator}}"> {{userCreator.name}} Profile</a>
        <a href="/profile/{{userCreator}}/books">Other books from this user</a>
        </span>
        </div>
      </div>
    </div>
    {{/each}}
  </ul>
</div>  



