<div class="style-body-pages">
<div class="container">
  <div class="book-container">        
    <h1> {{result.bookTitle}}</h1>
    <h4>{{result.author}}</h4>
    <div>
    <p>{{result.bookComment}}</p>
    <p>{{result.description}}</p>


    </div>

    <div class="map-container">
      <form action="post">

      <label for="lat-input"></label>
      <input type="hidden" name="location" id="latitude-input" placeholder="location" value="{{result.location.coordinates.[1]}}"> 

      <label for="lng-input"></label>
      <input type="hidden" name="location" id="longitude-input" placeholder="location" value="{{result.location.coordinates.[0]}}"> 

      </form>
      <div id="map-view"></div>
    </div>
  </div>
</div>
  <script src="/scripts/mapsView.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap"></script>
