
<h1> {{result.bookTitle}}</h1>
<h4> {{result.author}}</h4>
<div>

<p>{{result.descripition}}</p>

  
</div>

<form action="post">

  <label for="lat-input"></label>
  <input type="hidden" name="location" id="latitude-input" placeholder="location" value="{{result.location.coordinates.[1]}}"> 

  <label for="lng-input"></label>
  <input type="hidden" name="location" id="longitude-input" placeholder="location" value="{{result.location.coordinates.[0]}}"> 



</form>

<div id="map-view" style="width: 100%; height: 50em">
</div>

  <script src="/scripts/mapsView.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvNd635sKmUOsRjS--aKxAHfNu9bwD7QU&callback=initMap"></script>
